<div class="ui attached secondary segment">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <%= image_tag "profilepicturehere.jpg" %>
      </div>
      <div class="middle aligned content">
        <div class="header">
          Your profile name
        </div>
        <div class="meta">
          <span><%= link_to "singlelink.me/username", root_path, {style: "color: #000000"} %></span>
        </div>
        <div class="description">
          <p>Your profile bio</p>
          <%= link_to "Try Singlelink Me for Free", new_user_registration_path, class: "ui primary button" %>
        </div>
      </div>
    </div>
  </div>

  <% if !@links.empty? %>
    <div class="ui six link doubling cards">
      <% @links.each do |link| %>
        <% if link.disable == false %>
          <%= link_to link.url, class: "card", :target => "_blank" do %>
            <% if link.default_image.present? && link.image.blank? %>
              <div id="<%= link.default_image %>" class="image">
                <%= image_tag link.default_image + ".png" %>
              </div>
            <% else %>
              <div class="image">
                <%= image_tag link.image.thumb.url %>
              </div>
            <% end %>
            <div class="content">
              <div class="ui centered header"><%= link.title %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>