<div class="panel panel-default">
  <div class="panel-heading analytics-title"><b>Analytics - One Year Report: <%= Time.now.in_time_zone(@user.time_zone).strftime("%Y") %> - ( <%= link_to('View One Month Report', analytics_path) %> )</b></div>
  <div class="panel-body">
  	<p class="text-center">Profile Views: <b><%= @profile_visits_count %></b> | Unique Visits: <b><%= @profile_visits_unique_count %></b></p>
		<div class="panel panel-default">
    	<div class="panel-heading profile-views">Profile Views per day - Timezone: <%= @user.time_zone %> - ( <%= link_to('Change Timezone', settings_path) %> )</div>
      <div class="panel-body area-chart-ck">
				<%= area_chart @profile_visits_chart %>
			</div>
		</div>

		<div class="panel panel-default">
    	<div class="panel-heading">Profile visits by Device</div>
      <div class="panel-body pie-chart-ck">
				<%= pie_chart @profile_visits_device_chart %>
			</div>
		</div>

		<div class="panel panel-default">
    	<div class="panel-heading profile-city">Profile visits by City - Country: <%= @user.country_name %> - ( <%= link_to('Change Country', settings_path) %> )</div>
      <div class="panel-body geo-chart-ck">
				<%= geo_chart @profile_visits_city_chart, library: {region: "#{@user.country}", displayMode: "markers"} %>
			</div>
		</div>

	  <div class="panel panel-default">
    	<div class="panel-heading">Profile visits by Country</div>
      <div class="panel-body geo-chart-ck-2">
				<%= geo_chart @profile_visits_country_chart %>
			</div>
		</div>
  </div>
</div>