<% provide(:title, "Change Password") %>

<div class="ui segments">
  <div class="ui secondary left aligned segment">
    <h4 class="ui header">Change your password</h4>
  </div>
  <div class="ui segment">

  <%= form_for(@user, :url => { :action => "update_password" }, html: {class: "ui large form"} ) do |f| %>
    <%= render 'users/error_messages' %>


    <div class="field <%= "error" if f.object.errors.include?(:password) %>">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %>
    </div>
    <div class="field <%= "error" if f.object.errors.include?(:password_confirmation) %>">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
    </div>
    <div class="field <%= "error" if f.object.errors.include?(:current_password) %>">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %>
    </div>

    <%= f.submit "Update password", class: "ui primary button"  %>

  <% end %>
</div>