<div class="ui blue segment">
  <h3 class="ui header">Home</h3>
</div>
<% if !@links.empty? %>
  <table class="ui blue large single line table">
    <thead>
      <tr><th colspan="6">
        <%= link_to 'Add a new link', new_link_path, class: "ui primary button" %>
      </th>
    </tr></thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link_to 'Move Up', move_up_link_path(link), :method => :put %></td>
          <td><%= link_to 'Move Down', move_down_link_path(link), :method => :put %></td>
          <td><%= link_to link.url, link.url, :target => "_blank" %></td>
          <% if link.disable == false %>
            <td><%= link_to 'Disable', disable_link_path(link), :method => :post %></td>
          <% else %>
            <td><%= link_to 'Enable', enable_link_path(link), :method => :post %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody> 
  </table>
<% else %>
  <table class="ui blue large single line table">
    <thead>
      <tr><th colspan="6">
        <%= link_to 'Add a new link', new_link_path, class: "ui primary button" %>
      </th>
    </tr></thead>
    <tbody>
    </tbody> 
  </table>
<% end %>