<% provide(:title, "New link") %>

<div class="ui segment">
	<h3 class="ui header">Add a new link</h3>
</div>
<%= form_for @link, html: {class: "ui large form"} do |f| %>
  <%= render 'links/error_messages' %>

  <div class="ui segment">

  	<h3 class="ui header">Link Information</h3>

	  <div class="field <%= "error" if f.object.errors.include?(:title) %>">
	  	<%= f.label :title %>
	  	<%= f.text_field :title, placeholder: "Title" %>
	  </div>

	  <div class="field <%= "error" if f.object.errors.include?(:url) %>">
	  	<%= f.label :url, "Website" %>
	  	<%= f.text_field :url, placeholder: "Website" %>
		</div>

	</div>

	<div class="ui segment">

		<h3 class="ui header">Link Image</h3>

		<div class="field <%= "error" if f.object.errors.include?(:default_image) %>">
			<%= f.label :default_image, "Select an image to use from our database" %>
	  	<%= f.select :default_image, options_for_default_images, { :prompt => "Select one" }, { class: "ui dropdown" } %>
	  </div>

	  <div class="ui horizontal divider">
    	Or
  	</div>


		<div class="field <%= "error" if f.object.errors.include?(:image) %>">
			<%= f.label :image, "Choose an image to upload from your files" %>
	  	<%= f.file_field :image %>
	  </div>

	</div>

  <%= f.submit "Create link", class: "ui primary button" %>
<% end %>
