<% if !@user.display_name.blank? %>
  <% provide(:title, "#{@user.display_name}") %>
<% else %>
  <% provide(:title, "#{@user.username}") %>
<% end %>

<div class="profile_header">
  <div class="ui container">
    <div class="ui items">
      <div id="special_item" class="item">
        <div class="image">
          <%= image_tag @user.avatar.thumb.url %>
        </div>
        <% if @user.bio.present? %>
          <div class="middle aligned content">
            <% if !@user.display_name.blank? %>
              <div class="header"><%= @user.display_name %></div>
            <% else %>
              <div class="header special_header"><%= @user.username %></div>
            <% end %>
            <div class="description"><p><%= @user.bio %></p></div>
          </div>
        <% else %>
          <div class="content">
            <% if !@user.display_name.blank? %>
              <div class="header"><%= @user.display_name %></div>
            <% else %>
              <div class="header"><%= @user.username %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="content" class="ui container">
  <% if !@links.empty? %>
    <div class="ui four link doubling stackable cards">
      <% @links.each do |link| %>
        <% if link.disable == false %>
          <%= link_to link.url, class: "card", :target => "_blank" do %>
            <div class="image">
              <%= image_tag link.image.thumb.url %>
            </div>
            <div class="content">
              <div class="ui centered header"><%= link.title %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>