<% if !@user.display_name.blank? %>
	<% provide(:title, "#{@user.display_name}") %>
<% else %>
	<% provide(:title, "#{@user.username}") %>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
  	<% if !@user.display_name.blank? %>
			<b><%= @user.display_name %> | <%= link_to "singlelink.me/#{@user.username}", url_for() %></b><br />
		<% else %>
			<b><%= @user.username %> | <%= link_to "singlelink.me/#{@user.username}", url_for() %></b><br />
		<% end %>
		<% if !@user.bio.blank? %>
		  <%= @user.bio %>
		<% end %>
  </div>
  <div class="panel-body">
  	<% if !@links.empty? %>
		  <ul class="list-group">
				<% @links.each do |link| %>
					<li class="list-group-item special_link"><%= link_to link.url, link.url, :target => "_blank", :class => 'alert', :id => 'mylink', :data => {:user_id => link.user.id} %></li>
				<% end %>
			</ul>
		<% else %>
			<div class="text-center">No links</div>
		<% end %>
  </div>
</div>