<% if !@user.display_name.blank? %>
	<% provide(:title, "#{@user.display_name}") %>
<% else %>
	<% provide(:title, "#{@user.username}") %>
<% end %>

<% if !@user.display_name.blank? %>
	<b><%= @user.display_name %> | <%= link_to "singlelink.me/#{@user.username}", url_for() %></b><br />
<% else %>
	<b><%= @user.username %> | <%= link_to "singlelink.me/#{@user.username}", url_for() %></b><br />
<% end %>
<% if !@user.bio.blank? %>
  <%= @user.bio %>
<% end %>

<% if !@links.empty? %>
  <ul>
		<% @links.each do |link| %>
		  <% if link.disable == false %>
				<li><%= link_to link.url, link.url, :target => "_blank" %></li>
			<% end %>
		<% end %>
	</ul>
<% else %>
	No links
<% end %>

<% if !@links.empty? %>
  <div class="ui link four cards">
		<% @links.each do |link| %>
		  <% if link.disable == false %>
		    <%= link_to link.url, class: "blue card", :target => "_blank" do %>
		    	<div class="image">
		    		<%= image_tag('twitter.png') %>
		    	</div>
		    	<div class="content">
		    		<div class="header">Twitter</div>
		    	</div>
		    <% end %>
			<% end %>
		<% end %>
	</div>
<% else %>
	No links
<% end %>