<% if !@user.display_name.blank? %>
  <% provide(:title, "#{@user.display_name}") %>
<% else %>
  <% provide(:title, "#{@user.username}") %>
<% end %>


<div class="ui items">
  <div class="item">
    <div class="image">
      <%= image_tag @user.avatar.thumb.url %>
    </div>
    <div class="middle aligned content">
      <% if @user.text_colour.present? %>
        <div style="color: <%= @user.text_colour %>" class="header">
      <% else %>
        <div class="header">
      <% end %>
        <% if !@user.display_name.blank? %>
          <%= @user.display_name %> 
        <% else %>
          <%= @user.username %> 
        <% end %>
      </div>
      <div class="meta">
        <% if @user.text_colour.present? %>
          <span><%= link_to nice_url(request.original_url), request.original_url, {style: "color: #{@user.text_colour}"} %></span>
        <% else %>
          <span><%= link_to nice_url(request.original_url), request.original_url, {style: "color: #000000"} %></span>
        <% end %>
      </div>
      <% if @user.text_colour.present? %>
        <div style="color: <%= @user.text_colour %>" class="description">
      <% else %>
        <div class="description">
      <% end %>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>

<% if !@links.empty? %>
  <div class="ui six link doubling cards">
    <% @links.each do |link| %>
      <% if link.disable == false %>
        <%= link_to link.url, class: "card", :target => "_blank" do %>
          <% if link.default_image.present? && link.image.blank? %>
            <div id="<%= link.default_image %>" class="image">
              <%= image_tag link.default_image + ".png" %>
            </div>
          <% else %>
            <div class="image">
              <%= image_tag link.image.thumb.url %>
            </div>
          <% end %>
          <div class="content">
            <div class="ui centered header"><%= link.title %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>