<% provide(:title, "Subscription") %>

<% if @user_subscription && @user_subscription.subscription_id.blank? %>

  <div class="ui segments">
    <div class="ui secondary segment">
      <h4 class="ui header">Your subscription</h4>
    </div>
    <div class="ui segment">
      <p>Subscription data still processing, please wait a few minutes then re-visit this page to check the correct information is shown.</p>
    </div>
  </div>

<% end %>

<% if can? :pro, Subscription %>
  <%= render 'subscriptions/pro' %>
<% end %>

<% if @user_subscription && @user_subscription.subscription_id.present? %>
  
  <%= render 'subscriptions/info' %>

  <% if can? :renew, Subscription %>
    <%= render 'subscriptions/renew' %>
  <% end %>

  <% if can? :card, Subscription %>
    <%= render 'subscriptions/card' %>
  <% end %>

  <% if can? :resume, Subscription %>
    <%= render 'subscriptions/resume' %>
  <% end %>

  <% if can? :cancel, Subscription %>
    <%= render 'subscriptions/cancel' %>
  <% end %>

<% end %>