<% provide(:title, "Subscription") %>

<% if @user_subscription.blank? %>
  <%= render 'subscriptions/step' %>
<% end %>

<div class="ui blue segment">
  <h3 class="ui header">Subscription</h3>
</div>

<% if @user_subscription && @user_subscription.subscription_id.blank? %>
  <div class="ui blue segment">
    <h3 class="ui header">Information</h3>
    <p>Subscription data still processing, please wait a few minutes then re-visit this page to check the correct information is shown.</p>
  </div>
<% end %>

<% if can? :pro, Subscription %>
  <%= render 'subscriptions/pro' %>
<% end %>

<% if @user_subscription && @user_subscription.subscription_id.present? %>
  
  <%= render 'subscriptions/info' %>

  <% if can? :renew, Subscription %>
    <%= render 'subscriptions/renew' %>
  <% end %>

  <% if can? :card, Subscription %>
    <%= render 'subscriptions/card' %>
  <% end %>

  <% if can? :resume, Subscription %>
    <%= render 'subscriptions/resume' %>
  <% end %>

  <% if can? :cancel, Subscription %>
    <%= render 'subscriptions/cancel' %>
  <% end %>

<% end %>