<%= link_to "https://www.facebook.com", :target => "_blank" do %>
  <div class="card-facebook">
    <div class="card-name">Facebook</div>
  </div>
<% end %>
<%= link_to "https://www.facebook.com", :target => "_blank" do %>
  <div class="card-facebook">
    <div class="card-name">Facebook</div>
  </div>
<% end %>
<%= link_to "https://www.twitter.com", :target => "_blank" do %>
  <div class="card-twitter">
    <div class="card-name">Twitter</div>
  </div>
<% end %>
<%= link_to "https://www.instagram.com", :target => "_blank" do %>
  <div class="card-instagram">
    <div class="card-name">Instagram</div>
  </div>
<% end %>
<%= link_to "https://www.instagram.com", :target => "_blank" do %>
  <div class="card-background">
  </div>
<% end %>