<div class="ui large top fixed borderless menu main">
	<div class="ui container">
		<%= link_to 'Singlelinkme', root_path, class: "header item" %>
		<% if user_signed_in? %>
			<div class="right menu">
				<%= link_to 'Home', root_path, class: "item" %>
		  	<%= link_to 'Profile', profile_path(current_user), class: "item" %>
				<%= link_to 'Settings', settings_path, class: "item" %>
				<%= link_to 'Subscriptions', subscriptions_path, class: "item" %>
				<% if current_user.admin? %>
		      <%= link_to 'Admin', rails_admin_path, class: "item" %>
		    <% end %>
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "item" %>
			</div>
		<% else %>
			<%= link_to('Features', features_path) %>
			<%= link_to('Pricing', pricing_path) %>
			<%= link_to('Sign up', new_user_registration_path) %>
			<%= link_to('Log in', new_user_session_path) %>
		<% end %>
	</div>
</div>