<div id="menu-container">
  <ul id="mobile-menu" class="mobile-menu">
    <li class="menu-icon"><i id="menu-toggle" class="fa fa-bars fa-lg" aria-hidden="true" data-click-state="0"></i></li>
    <li class="logo">
      <%= link_to "Singlelink Me", root_path %>
    </li>
    <li class="sign-in">
      <%= link_to new_user_session_path do %>
        <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
      <% end %>  
    </li>
  </ul>
  <ul id="hidden-menu" class="hidden-menu" role="navigation">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Features', features_path %></li>
    <li><%= link_to 'Pricing', pricing_path %></li>
    <li><%= link_to 'Support', help_path %></li>
    <li><%= link_to 'Log in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  </ul>
</div>