<div class="ui large top fixed four item menu">
  <%= link_to 'Home', root_path, class: "item" %>
  <% if user_signed_in? %>
  	<%= link_to 'Profile', profile_path(current_user), class: "item" %>
  	<%= link_to 'Settings', settings_path, class: "item" %>
  	<%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "item" %>
  <% else %>
  	<%= link_to 'Features', features_path, class: "item" %>
		<%= link_to 'Pricing', pricing_path, class: "item" %>
		<%= link_to 'Login', new_user_session_path, class: "item" %>
	<% end %>
</div>
<div class="ui large bottom fixed four item menu">
	<%= link_to 'About', about_path, class: "item" %>
	<%= link_to 'Help', help_path, class: "item" %>
	<%= link_to 'Terms', terms_path, class: "item" %>
	<%= link_to 'Contact', contact_path, class: "item" %>
</div>