<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation' %>	
	<% if action_name == "profile" %>
		<% if @user == current_user %>
			<div id="main" class="ui container">
				<%= render 'layouts/messages' %>
				<%= yield %>
			</div>
		<% else %>
			<div id="profile" class="ui container">
				<%= render 'layouts/messages' %>
				<%= yield %>
			</div>
		<% end %>
	<% else %>
		<div id="main" class="ui container">
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
	<% end %>
	<%= render 'layouts/footer' %>
</body>
</html>
